.header-content {
  display: flex;
}
.header-content-title {
  flex: 3;
  margin: 10px 20px;
  border-right: 1px solid #000;
  display: flex;
  align-items: center;
}
.header-content-title .header-avatar img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  animation: myrotate 10s linear 3;
}
.header-content-title .header-title {
  margin-left: 20px;
}
.header-content-title .header-title-bottom {
  font-size: 14px;
  color: #aaa;
  margin-top: 5px;
}
.header-content-nav {
  flex: 7;
  position: relative;
}
.header-content-nav .nav-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-content-nav .nav-content div {
  font-size: 18px;
  margin: 18px 15px 0 15px;
  text-align: center;
  flex: 1;
  cursor: pointer;
  height: 45px;
  background-image: url("/grassflavorbean.github.io/image/header.png");
}
.header-content-nav .nav-content div a {
  color: #000;
  text-decoration: none;
}
@-moz-keyframes myrotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes myrotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes myrotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes myrotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.brief-post {
  margin: 0 100px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.brief-post-title {
  font-size: 23px;
  border-bottom: none;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.brief-post-title::before {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  content: '';
  height: 1px;
  width: 100%;
  transform: scaleX(0);
  transition-duration: 0.2s;
}
.brief-post-title:hover::before {
  transform: scaleX(1);
}
.brief-post-title a {
  color: #000;
  text-decoration: none;
}
.brief-post-brief {
  padding: 5px 0;
  color: #aaa;
  font-size: 14px;
}
.brief-post-more {
  font-size: 14px;
}
.brief-post-more a {
  color: #000;
  text-decoration: none;
}
.brief-post-more:hover {
  text-decoration: underline;
}
.archive {
  margin: 10px 180px;
  padding: 5px 0;
  position: relative;
}
.archive:before {
  content: '';
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #eee;
  opacity: 0.6;
  z-index: 1;
}
.archive-header {
  color: #aaa;
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
}
.archive-header:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #aaa;
  margin-right: 5px;
  margin-left: -2px;
  z-index: 3;
}
.archive-year {
  font-size: 23px;
  color: #8baa41;
  margin: 0 0 15px 10px;
  font-weight: bold;
}
.archive-post {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  margin: 10px 0 25px 0;
  padding-bottom: 10px;
  border-bottom: 1px dashed #aaa;
  transition-duration: 0.5s;
}
.archive-post:hover {
  border-bottom: 1px dashed #000;
}
.archive-post:before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #aaa;
  margin-right: 5px;
  margin-left: -1px;
  z-index: 3;
}
.archive-post-title a {
  color: #000;
  text-decoration: none;
}
.article {
  padding: 0 100px;
}
.article-meta {
  text-align: center;
}
.article-meta-detail {
  display: flex;
  padding: 0 30px;
}
.article-meta-detail div {
  flex: 1;
}
.guide {
  display: flex;
  margin-bottom: 5px;
}
.guide-left {
  flex: 1;
  text-align: left;
}
.guide-right {
  flex: 1;
  text-align: right;
}
.guide a {
  text-decoration: none;
  color: #000;
}
.guide a:hover {
  text-decoration: underline;
}
.pager {
  padding: 5px 100px;
  margin-top: 0;
}
.pager .extend,
.pager .page-number {
  margin-right: 10px;
}
.pager .extend:hover,
.pager .page-number:hover {
  border-bottom: 1px solid #000;
}
.pager .current {
  padding: 5px;
  background-color: #c7ba7e;
  color: #fff;
}
.pager a {
  text-decoration: none;
  color: #000;
}
.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 100px;
  width: 25px;
  height: 25px;
  border-top: 3px solid #c7ba7e;
  border-right: 3px solid #c7ba7e;
  transform: rotate(-45deg);
  cursor: pointer;
}
.back-to-top:hover {
  animation: shake 0.5s;
}
@-moz-keyframes shake {
  from {
    transform: rotate(-60deg);
  }
  to {
    transform: rotate(-30deg);
  }
}
@-webkit-keyframes shake {
  from {
    transform: rotate(-60deg);
  }
  to {
    transform: rotate(-30deg);
  }
}
@-o-keyframes shake {
  from {
    transform: rotate(-60deg);
  }
  to {
    transform: rotate(-30deg);
  }
}
@keyframes shake {
  from {
    transform: rotate(-60deg);
  }
  to {
    transform: rotate(-30deg);
  }
}
.end-line {
  display: flex;
  margin: 40px 0;
  align-items: center;
}
.end-line-left,
.end-line-right {
  flex: 4;
  border-bottom: 1px solid #eee;
}
.end-line-middle {
  flex: 2;
  font-family: Pacifico;
  color: #8baa41;
  text-align: center;
}
html,
body {
  height: 100%;
  background-color: #f5f7f9;
  font-family: "等线";
}
blockquote {
  border-left: 3px solid #eee;
  padding: 0px 10px;
  margin: 0 0 10px;
}
#container {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  background-color: #fff;
  font-size: 16px;
}
.footer {
  width: 60%;
  font-size: 55px;
  margin: 0 auto;
  text-align: center;
  font-family: Sweet Getaway;
}
@font-face {
  font-family: Pacifico;
  src: url("fonts/Pacifico.ttf");
}
@font-face {
  font-family: Sweet Getaway;
  src: url("fonts/Sweet Getaway.ttf");
}
@media screen and (max-width: 991px) {
  #container {
    background-color: #008000;
  }
}
