.header-content {
  display: flex;
}
.header-content-title {
  flex: 3;
  margin: 10px 20px;
  border-right: 1px solid #000;
}
.header-content-nav {
  display: flex;
  flex-direction: row;
  flex: 7;
}
.header-content-nav div {
  font-size: 18px;
  margin: 10px 20px;
  text-align: center;
  flex: 1;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
.header-content-nav div:hover {
  border-bottom: 1px solid #304911;
}
.header-content-nav div a {
  color: #000;
  text-decoration: none;
}
.brief-post {
  margin: 0 100px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.brief-post-title {
  font-size: 23px;
}
.brief-post-title a {
  color: #000;
  text-decoration: none;
}
.brief-post-brief {
  padding: 5px 0;
  color: #aaa;
  font-size: 14px;
}
.brief-post-more {
  font-size: 14px;
}
.brief-post-more a {
  color: #000;
  text-decoration: none;
}
.brief-post-more:hover {
  text-decoration: underline;
}
.archive {
  padding: 10px 180px;
}
.archive-year {
  font-size: 18px;
  color: #8baa41;
  margin-bottom: 5px;
}
.archive-post {
  display: flex;
  flex-direction: row;
  margin: 0 0 15px 15px;
}
.archive-post-title a {
  color: #000;
  text-decoration: none;
}
.article {
  padding: 0 100px;
}
.article-meta {
  text-align: center;
}
.article-meta-detail {
  display: flex;
  padding: 0 30px;
}
.article-meta-detail div {
  flex: 1;
}
.guide {
  display: flex;
  margin-bottom: 5px;
}
.guide-left {
  flex: 1;
  text-align: left;
}
.guide-right {
  flex: 1;
  text-align: right;
}
.guide a {
  text-decoration: none;
  color: #000;
}
.guide a:hover {
  text-decoration: underline;
}
.pager {
  padding: 0 100px;
}
.pager .extend,
.pager .page-number {
  margin-right: 10px;
}
.pager .extend:hover,
.pager .page-number:hover {
  border-bottom: 1px solid #000;
}
.pager .current {
  border-bottom: 1px solid #000;
}
.pager a {
  text-decoration: none;
  color: #000;
}
.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 100px;
  width: 25px;
  height: 25px;
  border-top: 3px solid #c7ba7e;
  border-right: 3px solid #c7ba7e;
  transform: rotate(-45deg);
  cursor: pointer;
}
.end-line {
  display: flex;
  margin: 40px 0;
  align-items: center;
}
.end-line-left,
.end-line-right {
  flex: 4;
  border-bottom: 1px solid #eee;
}
.end-line-middle {
  flex: 2;
  font-family: Pacifico;
  color: #8baa41;
  text-align: center;
}
html,
body {
  height: 100%;
  background-color: #f5f7f9;
  font-family: "等线";
}
#container {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  background-color: #fff;
  font-size: 16px;
}
.footer {
  width: 60%;
  font-size: 55px;
  margin: 0 auto;
  text-align: center;
  font-family: Sweet Getaway;
}
@font-face {
  font-family: Pacifico;
  src: url("fonts/Pacifico.ttf");
}
@font-face {
  font-family: Sweet Getaway;
  src: url("fonts/Sweet Getaway.ttf");
}
@media screen and (max-width: 782px) {
  #container {
    background-color: #008000;
  }
}
